@import 'Invoice';

.lineItems {
  margin-bottom: 100px;
}
  .addItem {
    padding-top: 2px;
  }
    button {
    
      background: none;
      padding: 2px;
      border: 1px solid red;
      color: yellow;
      border-radius: 25px;
      float: right;
    }
      .addIcon {
        color: blue;
        margin-right: 100px;
      }
    
  


.gridTable {
  margin: 0 auto;
  border: 1px solid ridge;
  border-radius: 2px;
  overflow: hidden;
  display: grid;
}
   .row {
    display: grid;
    border-bottom: 1px solid red;
  }
    :last-of-type {
      border-bottom: none;
    }
    .header > div {
      text-align: center;
      font-weight: bold;
      background: grey;
    }
    .editable > div {
      padding: 2px;
    }
     div {
      padding: 2px;
      border-left: 1px solid red;
      width: 100%;
      line-height: 100%;
      min-width: 50%;
     }
      :first-of-type {
        padding: 2px;
        border-left: 50%;
      }
      :last-of-type {
        padding: 2px;
      }
      
       .deleteItem {
        
        color: white;
        background: none;
        border: 10px;
        padding: 2px;
        cursor: pointer;
      }
    
  
  .currency > input[type=number] {
    max-width:50%;
  }



.listDraggingOver {
  background: #ddd;
  background-image: repeating-linear-gradient(30deg, rgba(#FFF, .2), rgba(#FFF, .2) 30px, transparent 0, transparent 60px);
}

.listItemDragging {
  background: #f9fff9;
  border: 1px solid ;
}

