.container{
  width: 100%;
  background-color: darkgrey;
}
img {
    margin-left: auto;
    margin-right: auto; 
    padding: 5px;
    width: 250px;
  } 

div.a  {
    text-align: center ;
    color  :blue;
}
.alignleft {
	float: left;
}
.alignright {
  float: right;
} 
 label{
   background-color:#0000ff;
   color: white ;
   width: 90% ;
   font-size:80% ;
 }


.Invoice{
  widows: 50%;
}

thead{
 
  background-color: #bbb8b8d5;
  color:  #000000;
  font-size: 15px;
}
td{
border-color: #000000;
font-size: 13px;
}
div.card{
 width: 90%;
 background-color:#ffffff;
 border: 2px solid block;
 margin-left: 5%;
margin-right:5% ;
margin-top: 5% ;
margin-bottom: 5%;
}
.table .btn{
  background-color:rgb(182, 17, 17);
  color:#ffffff ;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

h4 .btn{
  background-color: rgb(24, 172, 24);
  color: #ffffff;
  cursor: pointer; 
  border-radius: 5px ;
  text-align: center;
}

