img {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 250px;
  }
.container{

    background-color: black;
}
.card {
    
    margin-top: 250px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 250px;
    
}
#rcard{
border-radius: 50px;
}
input{

 margin-left: auto;
margin-right: auto;
border-style: solid;
border-color:orangered;


}
input[type=text]P{
    background-color: orangered;
}
